main {
    padding-left: 250px;
    transition: var(--transition);
}

main >nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 8px 20px;
    background: var(--color-background-secoundary);
    position: sticky;
    top: 0;
    z-index: 90;
}

main >nav .buttons__container {
    display: flex;
    align-items: center;
    gap: 20px;
}

main >nav .search__container{
    display: flex;
    align-items: center;
    border: var(--gray-border);
    border-width: 2px;
    padding: 0 15px;
    border-radius: var(--radius-2);
    transition: var(--transition);
    margin-left: auto;
}

main >nav .search__container:hover{
    border-color: var(--color-primary);
}

main >nav .search__container .icon{
    
}