main {
    padding-left: 250px;
    transition: var(--transition);
}

main>nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 8px 20px;
    background: var(--color-background-secoundary);
    position: sticky;
    top: 0;
    z-index: ;
}