@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: white;
    display: none;
    flex-direction: column;
    border-top: 1px solid #eee;
  }

  .nav a {
    padding: 15px;
    border-bottom: 1px solid #eee;
  }

  .menu-toggle {
    display: block;
  }
}
